application:
  name: banco-ms
server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/banco
    username: banco
    password: banco
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.format_sql: true
  flyway:
    enabled: true
    locations: classpath:db